.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    flex-wrap: wrap;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 113% 205%, -29% -70%;
}

.card {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    height: 354px;
    border-radius: 20px;
}

.card .header {
    width: 100%;
    margin: 0 auto;
    background-image: url(./images/bg-pattern-card.svg);
    height: 34%;
    border-radius: 20px 20px 0 0;
}

.card .body {
    position: relative;
    width: 100%;
    height: 67%;
}

.card .body img {
    border-radius: 100%;
    border: 5px solid white;
    top: -53px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card .body .info {
    padding-top: 69px;
    text-align: center;
}

.card .body .info div {
    color: hsl(0, 0%, 44%);
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}

.card .body .info div span {
    color: hsl(0, 0%, 59%);
    margin-left: 6px;
    font-weight: 600;
    font-family: 'Kumbh Sans', sans-serif;
}

.card .body .info p {
    font-size: 12pt;
    font-weight: lighter;
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}

.card .body ul {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.card .body li {
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 10px;
    text-align: center;
    color: hsl(0, 1%, 25%);
}

.card .body li p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 7pt;
    color: hsl(0, 0%, 59%);
    margin-top: 4px;
    font-weight: lighter;
    letter-spacing: 3px;
}

@media screen and (min-width: 960px) {
    body {
        background-position: -45% 1125%, 141% -1192%;
    }
    .card {
        width: 375px;
        height: 380px;
    }
    .card .body li {
        margin: 0 15px;
    }
    .card .body li p {
        font-size: 10pt;
        font-weight: lighter;
    }
}